# Archivos compilados y objetos
*.o
*.so
*.a
*.exe

# Ignorar archivos de dependencias y compilación de OpenDDS
.depend.*
.obj/
GNUmakefile*

# Archivos generados automáticamente por el IDL
*C.cpp
*C.h
*C.inl
*S.cpp
*S.h
*TypeSupport*.*

# Ejecutables generados (según tu mpcc)
publisher
subscriber

# Archivos generados por MPC y Make
GNUmakefile*
*.bld
.depend
.mpc_configured

# Archivos de sistema o editor
.DS_Store
.vscode/